.hidden {
  display: none;
}

#viz-display .request-line {
  stroke-width: 2px;
}

#viz-display .waiting-line {
  stroke-width: 1px;
  stroke-dasharray: 4;
}

#viz-display .cancel-line {
  stroke-dasharray: 4;
  color: gray;
}
