.hidden {
  display: none;
}

#viz-display {
  margin-top: 2rem;
}
#activity {
  margin-left: 2rem;
}
#viz-display .request-line {
  stroke-width: 2px;
}

#viz-display .waiting-line {
  stroke-width: 1px;
  stroke-dasharray: 4;
}

#viz-display .cancel-line {
  stroke-dasharray: 4;
  color: gray;
}

#viz-display .time-mark-line {
  /* stroke-dasharray: 4; */
  stroke-width: 0.3;
  color: #ccc;
}
